In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [91]:
df = pd.read_csv('hiring.csv')

In [92]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [93]:
df.experience= df.experience.fillna('zero')

In [94]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].mean())

In [95]:
from word2number import w2n

In [96]:
# df.experience = w2n.word_to_num(str(df.experience))

In [97]:
# df.experience =  [w2n.word_to_num(str(nber)) for nber in df.experience] 
df.experience = df.experience.apply(w2n.word_to_num)

In [98]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [99]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']], df['salary($)'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Saving the trained model using pickle

In [102]:
import pickle

In [103]:
with open('model_pickle', 'wb') as f:
    pickle.dump(reg, f)

In [113]:
with open('model_pickle', 'rb') as f:
    saved_model_pickle = pickle.load(f)

#### Saving the trained model using sklearn

In [110]:
from sklearn.externals import joblib

In [111]:
joblib.dump(reg, 'model_joblib')

['model_joblib']

In [118]:
saved_model_joblib = joblib.load('model_joblib')

In [114]:
# 12, 10, 10
# 2, 9, 6
data = np.array([12, 10, 10]).reshape((1, -1))

In [119]:
print(saved_model_pickle.predict(data))
print(saved_model_joblib.predict(data))

[92268.07227784]
[92268.07227784]