In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('titanic.csv')

In [7]:
subdf = df[['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Fare']]

In [9]:
subdf.head()

   Survived  Pclass     Sex  SibSp  Parch     Fare
0         0       3    male      1      0   7.2500
1         1       1  female      1      0  71.2833
2         1       3  female      0      0   7.9250
3         1       1  female      1      0  53.1000
4         0       3    male      0      0   8.0500

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le_sex = LabelEncoder()

In [19]:
subdf['Sex_en'] = le_sex.fit_transform(subdf['Sex'])
subdf.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   Survived  Pclass     Sex  SibSp  Parch     Fare  Sex_en
0         0       3    male      1      0   7.2500       1
1         1       1  female      1      0  71.2833       0
2         1       3  female      0      0   7.9250       0
3         1       1  female      1      0  53.1000       0
4         0       3    male      0      0   8.0500       1

In [25]:
subdf = subdf.drop(['Sex'], axis='columns')

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X = subdf.drop(['Survived'], axis='columns')
X.head()

   Pclass  SibSp  Parch     Fare  Sex_en
0       3      1      0   7.2500       1
1       1      1      0  71.2833       0
2       3      0      0   7.9250       0
3       1      1      0  53.1000       0
4       3      0      0   8.0500       1

In [28]:
y = subdf.Survived

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [30]:
from sklearn import tree

In [31]:
model = tree.DecisionTreeClassifier()

In [32]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [36]:
model.score(X_test, y_test) * 100

82.68156424581005

In [39]:
model.predict(X_test)

array([0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 0])

In [40]:
model.predict([[3,1,0,7.2500,1]])

array([0])